Repository Devops-ohtuprojekti/DevOpsCSAOS, pull requests merged in 2021-03, with the labels that each got.

#179 Question routing changes
  frontend/components/navigationButtons.jsx
  frontend/components/staticRouting.jsx
  frontend/next.config.js
  frontend/pages/survey/questions/question.jsx
  frontend/pages/survey/signup.jsx
  frontend/tests/pages/Question.spec.jsx
Labels: For Review, frontend

#178 Update answers for existing user
  backend/controllers/answers.js
  backend/tests/routes/answers.test.js
  backend/tests/routes/results.test.js
  frontend/pages/survey/signup.jsx
  frontend/store.js
  frontend/styles/global.js
Labels: For Review, Priority 3, Task

#201 One click transition to next question
  end-to-end-tests/resources/survey_resource.robot
  frontend/components/link.jsx
  frontend/components/navigationButtons.jsx
  frontend/components/navigationGroup.jsx
  frontend/pages/survey/questions/question.jsx
  frontend/tests/pages/Question.spec.jsx
Labels: frontend

#231 prevent progress bar from disappearing
  frontend/components/progressBar.jsx
Labels: bug
